<!DOCTYPE html>
<html>
  <head>
    <title>Railsapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container"> 
          <a class="navbar-brand" href="#">Railsapp</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">             
              <li class="nav-item">
                <%= link_to "Home", home_path, class: 'nav-link' %>
              </li>

              <li class="nav-item">
                <%= link_to "About", about_path, class: 'nav-link' %>            
              </li>

              <li class="nav-item">
                <%= link_to "Services", services_path, class: 'nav-link' %>            
              </li>

              <li class="nav-item">
                <%= link_to "Blogs", posts_path, class: 'nav-link' %>            
              </li>

              <li class="nav-item">
                <%= link_to "Contact", contact_path, class: 'nav-link' %>            
              </li>             
            </ul>

            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= link_to "Create Post", new_post_path, class: 'nav-link' %>
              </li>
            </ul>
          </div>
      </div>
    </nav>

    <div class="container my-3"> 
      <%= yield %>
    <div>

  </body>
</html>



